*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
}
body{
    background:#5CE1E6;
    --horizon: horizon;
    --anonymous: 'Anonymous Pro', monospace;
    --anton: 'Anton', sans-serif;
    margin: 0 9em 0 8em;
    height: 100%;
    display: flex;
    position: relative;
    

   
}

.line{
    background: #ffff;
    height: 100%; 
    width: 14%;
   
    

}
.box{
    position: relative;
    height: 50%;
    width: 100%;
    
}

.photo1, .photo2{
    display: flex;
    height: 100%;
    width: 50%;
   
    
}
.photo2{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    justify-content: center;
}


img{
    width: 100%;
    height:auto;
}
.letras{
   
    height: 100%;
    width: 100%;

    display: flex;
    position: absolute;
    flex-direction: column;
    
}
.letras  h1:first-child{
  position: absolute;
    top: 20%;
    left: 62%;
    font-family: var(--horizon);
    font-size: 2rem;
    text-align: center;
    font-weight: bold;   
}
.letras  h1:nth-child(2){
    position: absolute;
      top: 25%;
      left: 65%;
      font-family: var(--horizon);
      font-size: 2rem;
      text-align: center;
      font-weight: bold;   
  }


.h2{
    position: absolute;
    top: 60%;
    left: 15%;
    gap: 6px;
    display: flex;
    flex-direction: column;
    
  
}
.h2 span {
    
    font-weight: 900;
    font-family: var(--anonymous);
    font-size: 1.6rem;  
}
.parrafo{
    position: absolute;
    top: 80%;
    left: 15%;
    gap: 6px;
    display: flex;
    flex-direction: column;
}
.parrafo span{
    font-family: var(--anonymous);
    font-size: 0.8rem; 
}
.parrafo>:first-child{
    margin-top: 31px;
}
.club{
    position: absolute;
    top: 90%;
    left: 78%;
  
    display: flex;
    flex-direction: column;
}
.club span{
    font-family: var(--anton);
    text-transform: uppercase;
    text-align: center;
    font-weight: 00;
    font-size: 1.06rem;
    color: #ffff;
    letter-spacing: 1px;

}

